@model IEnumerable<DocCommander.Data.NumConfig>

<div class="panel panel-default">
    <div class="panel-header">Manage Num Configurations</div>
    <ul class="list-group">
    @foreach (var item in Model)
    {
        <li class="list-group-item">
            <div class="row">
                <div class="col-md-2">
                    @item.Name
                </div>
                <div class="col-md-2">
                    @item.IsHierarchy
                </div>
                <div class="col-md-6">
                    @if(item.Part1ListName!="EMPTY")
                    {
                        switch (item.Part1ListName)
                        {
                            case "STRING":
                                @item.Part1String;
                                break;
                            default:
                                @item.Part1ListName;
                                break;
                        }
                    }           
                    
                    @if(item.Part2ListName!="EMPTY")
                    {
                        switch (item.Part2ListName)
                        {
                            case "STRING":
                                @item.Part2String;
                                break;
                            default:
                                <span>- </span>@item.Part2ListName;
                                break;
                        }
                    }
                    
                    @if(item.Part3ListName!="EMPTY")
                    {
                        switch (item.Part3ListName)
                        {
                            case "STRING":
                                @item.Part3String;
                                break;
                            default:
                                <span>- </span>@item.Part3ListName;
                                break;
                        }
                    }
                    
                    @if(item.Part4ListName!="EMPTY")
                    {
                        switch (item.Part4ListName)
                        {
                            case "STRING":
                                @item.Part4String;
                                break;
                            default:
                                <span>- </span>@item.Part4ListName;
                                break;
                        }
                    }
                    
                    @if(item.Part5ListName!="EMPTY")
                    {
                        switch (item.Part5ListName)
                        {
                            case "STRING":
                                @item.Part5String;
                                break;
                            default:
                                <span>- </span>@item.Part5ListName;
                                break;
                        }
                    }
                </div>
                | @Ajax.ActionLink("Edit", "Edit", "NumConfig", new {id=item.NumConfigId },
                    new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "modal-form", InsertionMode = InsertionMode.Replace },
                    new { data_toggle = "modal", data_target = "#myModal" }) | 
                @Ajax.ActionLink("Delete", "Delete", "NumConfig", new {id=item.NumConfigId }, 
                    new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "modal-form", InsertionMode = InsertionMode.Replace }, 
                    new { data_toggle = "modal", data_target = "#myModal" }) |
            </div>
        </li>
    }
    </ul>
</div>
@Ajax.ActionLink("New Num Config", "Create", "NumConfig", null, 
        new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "modal-form", InsertionMode = InsertionMode.Replace }, 
        new { data_toggle = "modal", data_target = "#myModal", @class="btn btn-primary" })