@model IEnumerable<DocCommander.Data.SysList>


<div class="panel panel-default">
    <div class="panel-header">
        <h3>Lists</h3>
        
    </div>
    <ul class="list-group" id="list-list">        
    @foreach (var item in Model)
    {
        var ItemStyle = (!item.IsActive) ? "list-not-active" : "";
        
        <li class="list-group-item @ItemStyle">
            <div class="row">
                <div class="col-sm-8">
                    @Ajax.ActionLink(item.Name, "Index", "SysListItem", 
                    new { sysListId = item.SysListId }, 
                    new AjaxOptions() {
                        HttpMethod="GET",
                        UpdateTargetId="sys-list-items",                    
                        InsertionMode=InsertionMode.Replace},                  
                        null)
                </div>
                <div class="col-sm-2">
                    @Ajax.ActionLink("Edit","Edit","SysList",
                    new { id = item.SysListId }, 
                    new AjaxOptions() {
                        HttpMethod="GET",
                        UpdateTargetId="modal-form",
                        InsertionMode=InsertionMode.Replace}, 
                        new { data_toggle = "modal", data_target = "#myModal" })                 
                </div>
                <div class="col-sm-2">
                    @Ajax.ActionLink("Delete","Delete","SysList",
                    new { id = item.SysListId }, 
                    new AjaxOptions() {
                        HttpMethod="GET",
                        UpdateTargetId="modal-form",
                        InsertionMode=InsertionMode.Replace}, 
                        new { data_toggle = "modal", data_target = "#myModal" })                 
                </div>
            </div>
        </li>
    
    }
    </ul>
</div>
@Ajax.ActionLink("New List", "Create", "SysList", null, 
        new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "modal-form", InsertionMode = InsertionMode.Replace }, 
        new { data_toggle = "modal", data_target = "#myModal", @class="btn btn-primary" })